name: Build ksuinit

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string

jobs:
  build-ksuinit:
    name: Build ksuinit
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set env
      id: tmp_env
      run: echo "ARCH=$(echo ${{ inputs.target }} | cut -d '-' -f 1)" >> $GITHUB_OUTPUT

    - name: Install Rust target
      run: |
        rustup update stable
        rustup target add ${{ inputs.target }}
        RUSTFLAGS="" cargo install cross --git https://github.com/cross-rs/cross --rev 66845c1

    - name: Build ksuinit
      run: cross build --target ${{ inputs.target }} --release --manifest-path ./userspace/ksuinit/Cargo.toml
    
    - name: Upload binary
      uses: actions/upload-artifact@v5
      with:
        name: ksuinit-${{ steps.tmp_env.outputs.ARCH }}
        path: userspace/ksuinit/target/${{ inputs.target }}/release/ksuinit